<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ShowClassServlet</servlet-name>
    <servlet-class>controller.ShowClassServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowClassServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>

  <servlet>
  <servlet-name>StudentInClassServlet</servlet-name>
  <servlet-class>controller.StudentInClassServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>StudentInClassServlet</servlet-name>
    <url-pattern>/students</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>TransferClass</servlet-name>
    <servlet-class>controller.TransferClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferClass</servlet-name>
    <url-pattern>/mainAfterTransfer</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddClassServlet</servlet-name>
    <servlet-class>controller.AddClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClassServlet</servlet-name>
    <url-pattern>/addClass</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteClassServlet</servlet-name>
    <servlet-class>controller.DeleteClassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteClassServlet</servlet-name>
    <url-pattern>/deleteClass</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteStudent</servlet-name>
    <servlet-class>controller.DeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>

</web-app>